@font-face {
  font-family: 'GeistSans';
  src: url('Geist/Geist/Geist-Bold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'GeistSans';
  font-weight: 500;
}
